@import '~antd/dist/antd.css';

#root {
  height: 100%;
}

.logo {
  float: left;
  height: 100%;
  position: absolute;
  left: 15px;
}

.app {
  text-align: center;
  min-height: 100%;
}

.header {
  color: white;
  background: #383d3b;
  position: relative;
}

.header h1 {
  color: white;
}

.footer {
  background: #383d3b;
  color: white;
}

.content {
  padding: 1rem;
  background-color: #32363a;
}

.card {
  margin: 1rem;
}